/* Reset default margins and paddings */
* {
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  max-width: 100%;
  overflow-x: hidden;
}

.categories{
  padding-right: 4vh;
}

/* ===== Card Styling ===== */
.card {
  width: 50vh;
  margin: 10vh auto 0;
  padding: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* Title and signup spacing */
.cardTitle {
  margin: 5vh 0 3vh;
  font-weight: 400;
}

.singUp {
  margin-top: 1.2em;
  text-align: center;
}

/* ===== Input Field ===== */
.textField,
.Search-Bar {
  width: 80%;
  margin: 30px auto 0;
  direction: rtl;
}

.textField .MuiInputLabel-root,
.Search-Bar .MuiInputLabel-root {
  right: 20px;
  left: auto;
  transform-origin: top right;
}

.Search-Bar .MuiInputLabel-root {
  right: 45px;
}

.textField .MuiInputLabel-shrink,
.Search-Bar .MuiInputLabel-shrink {
  transform: translate(-14px, -9px) scale(0.75);
}

.Search-Bar .MuiInputLabel-shrink {
  transform: translate(-20px, 0) scale(0.75);
}

.textField .MuiInputBase-input,
.Search-Bar .MuiInputBase-input {
  text-align: right;
}

/* Search-Bar container */
.Search-Bar {
  background-color: azure;
  border-radius: 2rem;
  height: 6.3vh;
}

/* ===== Employee Table ===== */
.empTable {
  height: 50vh;
  width: 75vh;
  margin: 3vh auto 0;
  direction: ltr;
}

/* ===== Responsive Design ===== */
@media (max-width: 430px) {
  .empTable {
    width: 50vh;
  }

  .SearchBar {
    width: 90% !important;
  }

  .HeadName {
    font-size: 6vh !important;
    margin-inline: auto;
  }

  .NameDec {
    font-size: 3vh !important;
  }

  .headBox,
  .mainBox {
    width: 100% !important;
  }

  .mainBox {
    width: 92% !important;
  }
}
